<% @page_title = 'Home' %>

	<div class="content">
		<div class="content-header"> Mymo Home</div>
		
		<canvas id="myChart" width="400" height="400"></canvas>

		<h2>Add waste: </h2>
		<%= form_tag(:controller => 'wastes', :action => 'add') do %>
			<%= text_field_tag :title, nil, placeholder: 'Title', class: 'input' %>
			<%= text_field_tag :amount, nil, placeholder: 'Amount', class: 'input' %>
			<%= submit_tag "Add waste", class: 'button' %>
		<% end %>

		<h2>Money wasted today: <%= @daily_waste %></h2>
		<h2>Money wasted this week: <%= @weekly_waste %></h2>
		<h2>Money wasted this month: <%= @monthly_waste %></h2>

		<h2>All wastes:</h2>
		<% @current_user.wastes.each do |w| %>
			<%= w.title %> - <%= w.amount %> <br>
		<% end %>
	</div>
