<% @page_title = "UserAuth | Signup" -%>
<div class="sign-form">
	<h1>Sign Up</h1>
	<%= form_for(:user, :url => {:controller => 'users', :action => 'create'}) do |f| %>
		<%= f.text_field :username, placeholder: 'Username', class: 'input' %>
		<%= f.text_field :email, placeholder: 'Email', class: 'input' %>
		<%= f.password_field :password, placeholder: 'Password', class: 'input' %>
		<%= f.password_field :password_confirmation, placeholder: 'Password confirm', class: 'input' %>
		<%= f.submit :Signup, class: 'button' %>
		<%= link_to "Login", '/login', class: 'register' %>
	<% end %>
	<% if @user.errors.any? %>
		<ul class="signup-errors">
			<% for message_error in @user.errors.full_messages %>
				<li>* <%= message_error %></li>
			<% end %>
		</ul>
	<% end %>
</div>